body {
    font-family: Arial, sans-serif; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 40px; /* Increased padding for better spacing */
    background: url('https://wallpaperboat.com/wp-content/uploads/2019/10/cool-website-background-06.jpg'); /* New background image */
    text-align: center; /* Center the text */
    color: #020202; /* Text color */
}



h1 {
    font-family: 'Cascadia Mono', 'Courier New', Courier, monospace; /* Set font to Cascadia Mono */
    font-weight: 600; /* SemiBold */
}

input[type="file"], button {
    border-radius: 8px; /* Smooth edges */
    padding: 10px; 
    border: 1px solid #fdfdfd; /* Border color */
    background: #ffffff; /* Button background */
    color: #050505; /* Button text color */
    cursor: pointer; /* Pointer on hover */
    margin: 20px 0; /* Increased margin for better spacing */
}

input[type="file"]:hover, button:hover {
    background: #3498db; /* Background on hover */
    color: white; /* Text color on hover */
}

#preview {
    max-width: 100%; 
    margin: 10px 0; 
    border-radius: 8px; /* Smooth edges for the image */
}

#result {
    margin-top: 20px; 
}

.loader {
    display: none; 
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db; 
    border-radius: 50%; 
}

@keyframes spin {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
}
